/* ============================================================  HEADER ============================================================ */
header {
    height:82px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.logo img {
    width:119px;
    height:50px;
}
.menu nav ul{
    display:flex;
    list-style:none;
}
.menu nav ul a {
    font-size:16px;
    margin-left:30px;
}
.menu nav ul a:hover {
    border-bottom:2px solid var(--black-color);
}
/* ============================================================  BANNER ============================================================ */
#banner {
    height:312px;
    display:flex;
    justify-content:center;
}
#banner .container {
    height:312px;
    align-items:flex-end;
    border-radius:18px;
    background-size:cover;
    background-repeat:no-repeat;
    background-color:#CCCCCC66;
    background-image:url('../assets/banner-illustration.png')
}
#banner h1 {
    color:#FFF;
    font-size:50px;
    font-weight:700;
    line-height:50px;
    max-width:260px;
    margin:0px 0px 12px 20px;
    text-shadow:0px 4px 4px #00000066;
}
/* =============================================================  MAIN ============================================================= */
main {
    height:332px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:42px;
}
.headline {
    display:flex;
    align-items:center;
}
.headline h1 {
    font-size:22px;
    font-weight:700;
    line-height:36px;
    margin-right:10px;
}
.menu-slide {
    display:flex;
}
.menu-slide-button--left,
.menu-slide-button--right {
    cursor:pointer;
}
.menu-slide-button--right {
    margin-left:10px;
}
.main-area {
    display:grid;
    gap:97px;
    grid-template-columns:1fr 1fr 1fr;
    margin-top:20px;
}
.main-area--item {
    display:flex;
    align-items:center;
    justify-content:center;
}
.main-area--item--thumbnail {
    width:320px;
    height:160px;
    display:flex;
    align-items:flex-end;
    justify-content:flex-end;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-image:url('../assets/recipe-thumbnail.png');
}
.main-area--item--position {
    width:60px;
    height:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#FFF;
    font-size:18px;
    border-radius:17px 0px;
    background-color:#fcc537e6;
    background:linear-gradient(261.69deg, #fcc537e6 0%, #fcc537e6 34.22%, #f7604de6 100%);
}
.main-area--item h3 {
    margin:10px 0px;
    font-size:20px;
    font-weight:normal;
    color:var(--black-color);
}
/* ============================================================  FOOTER ============================================================ */
footer {
    height:auto;
    display:flex;
    align-items:center;
    justify-content:center;
}
footer .container {
    justify-content:center;
}
.footer-copy {
    color:#707070;
    font-size:15px;
    font-weight:normal;
}